<head>
  <title>Alice Windolf</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <!--[if lte IE 8]><script src="{{ 'assets/js/ie/html5shiv.js' | relative_url }}"></script><![endif]-->
  <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />
  <!--[if lte IE 9]><link rel="stylesheet" href="{{ 'assets/css/ie9.css' | relative_url }}" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="{{ 'assets/css/ie8.css' | relative_url }}" /><![endif]-->


  <script type="application/ld+json">
        {
                "@context": "https://schema.org",
                "@graph": [
                  {
                    "@type": "WebPage",
                    "@id": "https://alicewindolf.de/",
                    "url": "https://alicewindolf.de/",
                    "name": "Home - Alice Windolf",
                    "isPartOf": {
                      "@id": "https://alicewindolf.de/#website"
                    },
                    "about": {
                      "@id": "https://alicewindolf.de/#organization"
                    },
                    "datePublished": "2023-12-11T11:40:03+00:00",
                    "dateModified": "2023-12-11T12:37:23+00:00",
                    "breadcrumb": {
                      "@id": "https://alicewindolf.de/#breadcrumb"
                    },
                    "inLanguage": "en-US",
                    "potentialAction": [
                      {
                        "@type": "ReadAction",
                        "target": [
                          "https://alicewindolf.de/"
                        ]
                      }
                    ]
                  },
                  {
                    "@type": "BreadcrumbList",
                    "@id": "https://alicewindolf.de/#breadcrumb",
                    "itemListElement": [
                      {
                        "@type": "ListItem",
                        "position": 1,
                        "name": "Home"
                      }
                    ]
                  },
                  {
                    "@type": "WebSite",
                    "@id": "https://alicewindolf.de/#website",
                    "url": "https://alicewindolf.de/",
                    "name": "Alice Windolf",
                    "description": "Traumatherapie - Innere Kindheilung - Coaching",
                    "publisher": {
                      "@id": "https://alicewindolf.de/#organization"
                    },
                    "inLanguage": "en-US"
                  },
                  {
                    "@type": "Organization",
                    "@id": "https://alicewindolf.de/#organization",
                    "name": "Traumatherapie (HP Psych) - Innere Kindheilung - Coaching",
                    "url": "https://alicewindolf.de/",
                    "sameAs": [
                      "https://www.facebook.com/alice.windolf.9",
                      "https://www.youtube.com/@alicewindolf1979",
                      "https://de.linkedin.com/in/alice-windolf-37734a4b",
                      "https://www.xing.com/profile/Alice_Windolf"
                    ]
                  }
                ]
              }
  </script>

  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176716405-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-176716405-1');
  </script>

  {% if page.videos %}
  <link rel="stylesheet" href="{{ 'assets/css/glightbox.min.css' | relative_url }}" />
  <script src="{{ 'assets/js/glightbox.min.js' | relative_url }}"></script>

<style>
.video:hover {
        opacity:0.8;
}

.video {
        width:200px;
        float:left;
        margin-right:16px;
        margin-top:20px;
        margin-bottom:20px;
}

.video img {
        object-fit: cover;
        object-position: center;
        height: 110px;
        width: 200px;
}

.video .title {
        font-size: 90%;
}
.video .caption {
        color: #959396;
        font-size: 80%;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
  
.gcontainer * button, .gbtn {
    box-shadow: none;
    color:white !important;
}
 
</style>

{% endif %}

</head>
