.calltoaction {
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  opacity: 1;
  word-break: break-word;
  outline: none;
  transition: 0.3s;
  text-decoration: none;
  box-sizing: border-box;
  padding: 15px 45px;
  font-size: 18px;
  font-weigth: bold;
  color: black;
  background: rgb(255, 227, 71);
  border-radius: 5px;
}

.calltoaction:hover {
  color: white;
  background: #f56a6a;
}
